@import url("https://fonts.googleapis.com/css?family=PT Sans:200,300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Arial:200,300,400,500,600,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=微軟正黑體:wght@100;300;400;500;700;900&display=swap');


*{
	margin:0;
	padding:0;
	list-style:none;
	font-family: '微軟正黑體', sans-serif;
}

.clearfix{
	clear: both;
}

#main_header{
	position: fixed;
	width: 100%;
	background-color: #fff;
	z-index: 9999;
	height: 127px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.logo{
	display: flex;
	align-items: center;

}

.logo h1{
	font-weight: 300;
	font-size: 25px;
	color: #585757;
}

.logo h2{
	font-family: 'arial',sans-serif;
	letter-spacing: .7px;
	font-weight: 300;
	font-size: 15px;
	color: #585757;
}

.logo img{
	width: 105px;
	height: 105px;
}

.menu_btn{
	display: none;
}

.menu li{
	display: inline-block;
}

.menu a{
	font-family: 'arial',sans-serif;
	font-weight: 100;
	text-decoration: none;
	font-size: 20px;
	color: #585757;
	padding-right: 68px;
}

.menu_mobile{
	display: none;
}
#main_banner{
	position: relative;
	width: 100%;
	height: 955px;
	background-image: url(../img/banner.png);
	background-size: cover;
}

#main_banner img{
	position: absolute;
	left: 14%;
	bottom: 6%;
}

.open{
	display: block !important;
}


#aboutus{

	width: 51%;
	margin: 116px auto 0 auto;
	color: #555555;
}

.aboutus_title{
	margin-bottom: 60px;
}

.aboutus_title h1{
	margin-bottom: 20px;
}
#aboutus span{
	display: block;
}
#aboutus p{
	line-height: 46px;
	font-size: 20px;
	font-weight: 300;
}

.aboutus_title h1{
	font-size: 35px;
}
.aboutus_content span{
	margin-top: 25px;
}
.arrow{

	text-align:center;
	margin: 55px 0;
}


.title{
	width: 59%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	text-align: center;
	padding: 1% 13%;
	margin: auto;
	color: #fff;
	background-color: #9D9D9D;
	
}

.title h1{
	font-size: 35px;
}

.title p{
	font-size: 28px;
	font-weight: 300;
}




.service_item{
	/*margin: auto;*/
	/*margin: 6% 50px 50px auto; */
	display: inline-block;
	/*align-items: center;*/
	text-align: center;
	/*box-sizing: border-box;*/

	/*box-sizing: border-box;*/
	padding: 6% 10% 0% 10%;
	/*padding-top: 6%;
	padding-left: 10%;*/

}

.service_item li{
	box-sizing: border-box;
	padding: 0 1%;
	width: 25%;
	float: left;
	
}

.service_content{
	color: #555555;
	margin-top: 75px;
}

.service_content h3{
	font-size: 24px;
}

.service_content p{
	padding-top: 20px;	
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 1.2;
	line-height: 1.7;
}









.environment_grid{
	margin-top: 35px;
	display: flex;
}

.environment_grid img{
	display: block;
	width: 33.333%;

}

.environment_content{
	width: 52%;
	margin: auto;
}

.environment_content p{
	font-size: 20px;
	font-weight: 300;
	margin-top: 50px;
	color: #555555;
	line-height: 46px;

}




#contactus{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*padding: 115px 0 145px 0;*/
	box-sizing: border-box;
}

#contactus img{
	margin-top: 100px;
}

#contactus p{
	font-size: 23px;
	color: #5A5247;
	text-align: center;
	font-weight: 300;
	padding-top: 20px;
}

footer{
	font-size: 17px;
	color: #fff;
	text-align: center;
	padding: 40px 0;
	background-color: #D3D3D3;
	margin-top: 55px;
}


@media screen and (min-width:414px) and (max-width:1200px){

	.menu{
		width: 40%;
	}

	.menu a{
		font-size: 18px;
	}

	.service_item{
		/*display: flex;*/
	}

	.service_item li{
		width: 40%;
	}



}


@media screen and (max-width: 800px){

	#main_header{
		width: 100%;
		height: 76px;
		overflow: hidden;
		margin: auto;
		display: block;
	}

	#main_header.openmenu{
		width: 100%;
		height: 760px;
		background-color: #000;

	}



	.logo{
		margin-left: 43%;
		line-height: 76px;
	}

	.logo img{
		width: 70px;
		height: 70px;
	}
	.logo_txt{
		display: none;
	}

	.close_btn{
		position: relative;
		left: 120px;
		top: 35px;
	}

	.close_btn img{
		width: 50px;
	}

	.menu{
		display: none;
	}

	
	.menu_btn{
		display: block;
		padding-right: 35px;
		line-height: 76px;
		font-size: 32px;
		color: #585757;
		float: right;
	}

	.menu_mobile{
		transition: 5s;
		width: 100%;
		height: 100%;
		background-color: #585757;
		z-index: 9999;
		position: fixed;
		top: 0;
		text-align: center;
		line-height: 65px;
	}

	.menu_mobile a{
		font-size: 20px;
		color: #fff;
		text-decoration: none;
		font-weight: 300;
	}



	#main_banner{
		height: 272px;
	}

	#main_banner img{
		width: 90%;
		left: 5%;
		bottom: 6%;
	}
	
	.title{
		width: 100%;
		padding: 5% 13%;
	}

	.title h1{
		font-size: 27px;
	}

	.title p{
		font-size: 20px;
	}

	.aboutus_title{
		text-align: center;
	}

	#aboutus p{
		line-height: 25px;
		font-size: 16px;
		font-weight: 300;
	}

	#aboutus{

		width: 80%;
		margin: 38px auto 0 auto;
		color: #555555;
	}

	.service_item{
		display: flex;
		flex-direction: column;
		width: 80%;
		flex-wrap: wrap;
	}

	.service_item li{
		width: 100%;
		margin: 20px 0;
	}

	.service_content{
		margin-top: 30px;
	}

	.service_content h3{
		font-size: 18px;
	}

	.service_content p{
		padding-top: 10px;	
		font-size: 16px;
		line-height: 25px;
	}


	.environment_grid{
		margin-top: 0px;
		flex-wrap: wrap;
	}

	.environment_grid img{
		display: block;
		width: 100%;

	}

	.environment_content{
		width: 80%;
	}

	.environment_content p{
		font-size: 16px;
		margin-top: 50px;
		line-height: 25px;

	}

	#contactus p{
		font-size: 20px;
		padding-top: 25px;
	}

	footer{
		font-size: 13px;
		padding: 30px 0;
	}

}





